html, body {
    height: 100%;
    width: 100%;
}

.background {
    background-image: url("img/WelcomePage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    width: 100%;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.1);
}

span.title {
    position: absolute;
    top: 800px;
    left: 30px;
    font-size: 80px;
    color: white;
}

input.login-page.email {
    position: absolute;
    top: 600px;
    left: 650px;
    height: 40px;
    width: 330px;
}

input.login-page.password {
    position: absolute;
    top: 650px;
    left: 650px;
    height: 40px;
    width: 330px;
}

button.login {
    background-color: orangered;
    color: white;
    position: absolute;
    left: 650px;
    top: 700px;
    height: 40px;
    width: 330px;
}

button.register {
    background-color: black;
    border-radius: 4px;
    color: white;
    position: absolute;
    left: 650px;
    top: 750px;
    height: 40px;
    width: 330px;
}

a button.register {
    color: white;
}