<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
        <script href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="register.css" rel="stylesheet"></link>
    </head>
    <body>
        <div class="background">
            <div class="overlay">
                <div class="register-info">
                    <div class="register-form">
                        First Name:<br>
                        <input placeholder="First name"/><br>
                        Last Name:<br>
                        <input placeholder="Last name"/><br>
                        Email:<br>
                        <input class="login-page email" type="text" placeholder="<username@yourschool class="edu"></username@yourschool>"><br>
                        Password:<br>
                        <input class="login-page password" type="password" placeholder="Your password"><br>
                        College/University<br>
                        <input type="text" placeholder="School"/><br><br>
                        <a href="views/register.html"><button class="btn register">Register</button></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>