<div class="user-block">
    <div class="profile-picture">
        <img src="../public/img/girluser.jpeg"/>
    </div>
    <div class="user-info">
        <p class="user-name">{{firstname}} {{lastname}}</p>
        <p class="user-school">School: {{school}}</p>
    </div>
    <div class="user-bottom">
        <br>
        <div class="rating">
            <h1>Driver Rating: </h1>
            <br>
            <h2><em>Write a Review</em></h2>
        </div>
        <div class="networks">
            <h4 style="text-align: center">Connected Schools</h4>
            <div class="network-school">
                <img src="../img/sbu.png" height="100px" width="100px"/>
            </div>
            <div class="network-school">
                <img src="../img/bu.png" height="100px" width="100px"/>
            </div>
            <div class="network-school">
                <img src="../img/ua.jpg" height="100px" width="100px"/>
            </div>
        </div>
        <div class="recent-places">
            <h4 style="text-align:center">Recent Places</h4>
            <div class="place">
                <img src="../img/map.png" height="100px" width="100px"/>
            </div>
        </div>
    </div>
    
</div>